---
layout: layout.liquid
title: 11ty Boilerplate
---

<body>
    <div x-data="{name: ['Max', 'Malcolm', 'Mason', 'Macy', 'Marissa', 'Maurice', 'Mike', 'Madison', 'Melanie', 'Melon']}">
        <button @click="alert(name[0])">Alpine</button>
    </div>
</body>